/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap');

:root {
    --background-1: #D9D8D9;
    --text-color-1: #4B4A4B;
}

/* Global */
html,
* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    color: var(--text-color-1);
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 8px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--text-color-1);
    border: none;
    color: white;
}

img {
    width: 100%;
}

/* Utilities */
.section {
    background-color: var(--background-1);
    padding: 32px 24px;
}

.main-container {
    display: flex;
}

.image-container {
    flex-basis: 60%;
    margin-right: 24px;
}

/* Header */
nav {
    height: 64px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    z-index: 10;
}

.logo-container {
    display: flex;
    height: 32px;
    margin-left: 24px;
    align-items: center;
}

.logo-container img {
    height: 100%;
    margin: auto;
    margin-right: 3px;
}

.logo-container span {
    font-size: 18px;
    text-transform: uppercase;
}

.logo-container span:first-of-type {
    font-weight: bold;
}

.list-container {
    margin-right: 24px;
}

.list-container ul {
    display: flex;
    justify-content: left;
}

.list-container ul li {
    margin-right: 16px;
}

/* Showcase */
#showcase .main-container {
    align-items: center;
}
#showcase .description-container {
    line-height: 1.2;
    flex-basis: 30%;
}

#showcase .description-container p{
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
}

.description-container button {
    width: 100%;
}

/* Events */
#events.section{
    background-color: white;
    padding: 0px;
    position: relative;
}

#events .image-container {
    margin: 32px 24px;
}
#events .image-container h1 {
    font-size: 40px;
}

#events .image-container p {
    margin: 24px 0 32px 0;
}

#quoter {
    margin-top: 24px;
    font-size: smaller;
    font-weight: bold;
}

.events-container {
    width: 40%;
    border-left: 2px solid gainsboro;
    padding: 16px 0 0px;
}

.events-container .event {
    display: flex;
    align-items: center;
    border-bottom: 2px solid gainsboro;
}

.events-container .event:last-of-type {
    background-color:silver;
    border: none;
}

.events-container .event .img-container{
    width: 35%;
    height: 100%;
    margin-right: 16px;
    padding: 16px 0px 16px 16px;
}

.event .event-description{
    width: 65%;
    line-height: 2;
}

.event .event-description h1{
    font-size: 25px;
}

.event .event-description a{
    color:darkturquoise;
}

.event h1 {
    font-size: 15px;
}

/* Transitions */
.list-container ul li:hover {
    opacity: 0.5;
    align-items: center;
}