/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap');

:root {
    --background-1: #D9D8D9;
    --text-color-1: #4B4A4B;
}

/* Global */
html,
* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    color: var(--text-color-1)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 8px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--text-color-1);
    border: none;
    color: white;
}

/* Header */
header {
    height: 64px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    z-index: 10;
}

.logo-container {
    display: flex;
    height: 32px;
    margin-left: 24px;
    align-items: center;
}

.logo-container img {
    height: 100%;
    margin: auto;
    margin-right: 3px;
}

.logo-container span {
    font-size: 18px;
    text-transform: uppercase;
}

.logo-container span:first-of-type {
    font-weight: bold;
}

.list-container {
    margin-right: 24px;
}

.list-container ul {
    display: flex;
    justify-content: left;
}

.list-container ul li {
    margin-right: 16px;
}

/* Showcase */
#showcase {
    background-color: var(--background-1);
    padding: 32px 24px;
}

.showcase-container {
    display: flex;
    align-items: center;
}

.showcase-container .image-container {
    min-width: 60%;
    margin-right: 24px;
}

.image-container img {
    width: 100%;
}

.description-container {
    line-height: 1.2;
    color: gr;
}

.description-container div {
    width: 75%;
}

.description-container h1 {
    font-size: 50px;
    font-weight: 700;
}

.description-container p{
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
}

.description-container button {
    width: 100%;
}

/* Transitions */
.list-container ul li:hover {
    opacity: 0.5;
    align-items: center;
}